.site-header{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	background:#fff;
	z-index:9999;
	overflow:visible;
	box-shadow: 0 0 21px 0px #404040;
	.header-content{
		display: flex;
	    justify-content: space-between;
	    align-items: center;
		.site-branding{
			@media only screen and (max-width: $screen-sm-min - 1) {
			    display:flex;
			    justify-content:space-between;
			    align-items:center;
			}

			.logo{
				max-width:100px;
				@include breakpoint($screen-sm-min){
					max-width:140px;
				}
				img{
					width:100%;
					display:block;
				}
			}
			.mobile-toggle{
				font-size: 25px;
				cursor: pointer;
				// XS Breakpoint
				@include breakpoint($screen-sm-min){
					display:none;
				}
			}
		}
		.main-navigation{
			@media only screen and (max-width: $screen-sm-min - 1) {
				position: absolute;
			    left: 0;
			    top: 100%;
			    width: 100%;
			    z-index: 99999;
			    background-color: $brand-red;
			    ul{
			    	margin:20px 0;
				    a{
				    	color:#fff !important;
				    	&:hover, &:active{
				    		background-color: $brand-red;	
				    	}
				    }
			    }
			}
			.navbar-nav{
				a{
					color: black;
					font-size:15px;
				}
			}
		}
		.header-contact{
			color: $brand-red;
		    font-size: 21px;
		    width: 150px;
		    text-align: right;
		    display:none;
			a{
				h3{
					font-size: 21px;
    				margin: 0;
    				font-weight:600;
    				color: $brand-orange;
				}
			}
			@include breakpoint(930px){
				display:block;
			}
		}
	}
}