.site-cta{
	background-color: $brand-orange;
	.copy{
		h1{
			margin:0;
			color:#fff;
			font-style:italic;
		}
	}
	.cta-button{
		.cta{
			background-color: $brand-red;
			color:#fff;
		}
	}
}

#about{
	.half-image{
		img{
			max-width: 350px;
    		margin: auto auto;
		}
	}
}

#responsibility{
	background-color: $brand-lightgray;
	.responsibility-list{
		margin-top:30px;
		list-style:none;
		padding:0;
		li{
		    margin-bottom: 10px;
		    padding-left: 35px;
		    position: relative;
			.fa-check{
				background-color: $brand-red;
			    color: #fff;
			    padding: 3px;
			    border-radius: 50%;
			    margin-right:10px;
			    position: absolute;
			    left: 0;
			    top: 0;
			}
		}
	}
}

#services{

	h2,h3,p{
		color: #fff;
	}

	h2{
		margin-bottom: 1.7rem;
		font-style: italic;
	}

	.service-list{
		list-style: none;
	    display: flex;
	    flex-wrap: wrap;
	    flex-direction: row;
	    max-width: 1000px;
	    margin: auto auto;
	    margin-top: 50px;
	    li{
	    	width: calc( 100% - 30px );
	    	padding:0 15px;
	    	text-align:center;
	    	margin-bottom: 30px;
	    	&:last-child{
	    		margin-bottom: 0;
	    	}
	    	@include breakpoint($screen-sm-min){
				width: calc( 50% - 30px );
				margin:0;
	    	}

	    	img{
	    		max-width: 50px;
	    		margin-bottom:20px;
	    	}

	    	h3{
	    		font-size:1.5rem;
	    	}

	    	.learn-more{
	    		color: $brand-orange;
	    		display: inline-block;
	    	}
	    }
	}
}

#testimonial{
	&::before{
		content: '\f10d';
	    font: normal normal normal 30px/1 FontAwesome;
	    color: $brand-orange;
	    margin-bottom: 23px;
	    display: block;
	    text-align:center;
	}

	blockquote{
		color: $brand-red;
		border-left: 0 !important;
		font-size:1.1rem;
		font-style: italic;
	}

	.author{
		color: #ababab;
		font-style:italic;
		font-size:1rem;
	}
}

#properties{
	.property-list{
		list-style:none;
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		margin-top:50px;
		padding-left:0;
		li{
			width: calc( 100% - 30px );
	    	margin:0 15px;
	    	text-align:center;
	    	margin-bottom: 30px;
	    	>div{
	    		padding: 25px 15px;
	    		background-color:#fff;
	    		div{
	    			color:$brand-orange;
	    			&.area{
	    				font-size: .9rem;
	    				font-weight:300;
	    			}
	    		}
	    	}
	    	img{
	    		width:100%;
	    	}
	    	&:last-child{
	    		margin-bottom: 0;
	    	}
	    	@include breakpoint($screen-sm-min){
				width: calc( 50% - 30px );
	    	}
	    	@include breakpoint($screen-md-min){
				width: calc( 33.33% - 30px );
	    	}
		}
	}
}

#location{
	background-color: $brand-red;
	h2,p{
		color:#fff;
	}
	h2{
		font-style:italic;
	}
}

.gm-style-iw{
	h3{
		font-size:18px;
	}
}

#connect{
	background-color: $brand-lightgray;
	.connect-info{
		margin-top: 50px;
	}
	.half-copy{
		padding:0 !important;
		margin:0;
		margin-top:30px;
		ul{
			margin:0 !important;
		}
		@include breakpoint($screen-sm-min){
			margin-top:0;
    	}
	}
}

#contact{
	.gform_body{
		margin-top:20px;
		input, textarea,{
		    border-radius: 7px;
		    border: 1px solid #ababab;
		    padding: 10px 15px;
		}
		.gfield_label{
			display:none;
		}
	}

	#gform_fields_1{
		li{
			clear: none;
			margin-top:7px;
			&#field_1_4{
				float:right;
				padding-right:0;
			}
		}

		@media only screen and (max-width: $screen-sm-min - 1) {
			display:flex;
			li{
				width: 100%;
    			padding: 0;
    			textarea{
    				width:100%;
    			}
			}
			#field_1_4{
				order:4;
			}
		}
	}

	.gform_footer{
		text-align:center;
		#gform_submit_button_1{
			@extend .cta;
			background-color: $brand-red;
			color:#fff;
		}
	}
}