// Padding -------------------------------------------------------------------------------------------------------------

	// Padding Top
	.pt-xs{ padding-top: $padding-base-vertical; }
	.pt-sm{ padding-top: $padding-base-vertical * 2; }
	.pt-md{ padding-top: $padding-base-vertical * 3; }
	.pt-lg{ padding-top: $padding-base-vertical * 4; }

	// Padding Right
	.pr-xs{ padding-right: $padding-base-vertical; }
	.pr-sm{ padding-right: $padding-base-vertical * 2; }
	.pr-md{ padding-right: $padding-base-vertical * 3; }
	.pr-lg{ padding-right: $padding-base-vertical * 4; }

	// Padding Bottom
	.pb-xs{ padding-bottom: $padding-base-vertical; }
	.pb-sm{ padding-bottom: $padding-base-vertical * 2; }
	.pb-md{ padding-bottom: $padding-base-vertical * 3; }
	.pb-lg{ padding-bottom: $padding-base-vertical * 4; }

	// Padding Left
	.pl-xs{ padding-left: $padding-base-vertical; }
	.pl-sm{ padding-left: $padding-base-vertical * 2; }
	.pl-md{ padding-left: $padding-base-vertical * 3; }
	.pl-lg{ padding-left: $padding-base-vertical * 4; }

// Margin --------------------------------------------------------------------------------------------------------------

	// Margin Top
	.mt-xs{ margin-top: $padding-base-vertical; }
	.mt-sm{ margin-top: $padding-base-vertical * 2; }
	.mt-md{ margin-top: $padding-base-vertical * 3; }
	.mt-lg{ margin-top: $padding-base-vertical * 4; }

	// Margin right
	.mr-xs{ margin-right: $padding-base-vertical; }
	.mr-sm{ margin-right: $padding-base-vertical * 2; }
	.mr-md{ margin-right: $padding-base-vertical * 3; }
	.mr-lg{ margin-right: $padding-base-vertical * 4; }

	// Margin bottom
	.mb-xs{ margin-bottom: $padding-base-vertical; }
	.mb-sm{ margin-bottom: $padding-base-vertical * 2; }
	.mb-md{ margin-bottom: $padding-base-vertical * 3; }
	.mb-lg{ margin-bottom: $padding-base-vertical * 4; }

	// Margin Left
	.ml-xs{ margin-left: $padding-base-vertical; }
	.ml-sm{ margin-left: $padding-base-vertical * 2; }
	.ml-md{ margin-left: $padding-base-vertical * 3; }
	.ml-lg{ margin-left: $padding-base-vertical * 4; }

// Background  ---------------------------------------------------------------------------------------------------------




.bg-gray-base{
	@include makebg($gray-base, #fff);
}

.bg-gray-darker{
	@include makebg($gray-darker, #fff);
}

.bg-gray-dark{ 
	@include makebg($gray-dark, #fff);
}

.bg-gray{
	@include makebg($gray, #fff);
}

.bg-gray-light{
	@include makebg($gray-light, #fff);
}

.bg-gray-lighter{
	@include makebg($gray-lighter, $gray-base);
}


// Not sure what or how to name this 
.btn-size{
	padding: $padding-base-vertical $padding-base-horizontal;
	display: inline-block;
}

.mobile-textcenter-xs{
	@include breakpoint(max-width $screen-xs-min){
		text-align: center;
	}
}


//-------------- Layout ---------------//
.container{
	@include container();
	padding-left: 15px;
	padding-right: 15px;
	@include breakpoint(1200px){
		padding-left:0;
		padding-right:0;
	}
}