// Site Container 
.site{
	@include container(100%);
}

// Site Header
.site-header{
	padding-top: 12px;
	padding-bottom: 12px;
	overflow:hidden;
	
	.site-branding{
		@include span(12);

		// SM Breakpoint
		@include breakpoint($screen-sm-min){
			width:auto;
			margin:0;
		}
	}

	.main-navigation{

	}
}

// Site Content
.site-content{
	&:not(.full-width){
		@include container();
		clear: both;

		.content-area{
			@include span(12);

			// SM Breakpoint
			@include breakpoint($screen-sm-min){
				@include span(7);
			}

			// MD Breakpoint
			@include breakpoint($screen-md-min){
				@include span(8);
			}

			// LG Breakpoint
			@include breakpoint($screen-lg-min){
				@include span(9);
			}
		}

		.widget-area{
			@include span(12);

			// SM Breakpoint
			@include breakpoint($screen-sm-min){
				@include span(5);
			}

			// MD Breakpoint
			@include breakpoint($screen-md-min){
				@include span(4);
			}

			// LG Breakpoint
			@include breakpoint($screen-lg-min){
				@include span(3);
			}

		}
	}
}

// Site Footer
.site-footer{
	.nav-footer{
		// @include myoutline(red);

		// SM Breakpoint
		@include breakpoint($screen-sm-min){
			@include span(6);
		}

		// MD Breakpoint
		@include breakpoint($screen-md-min){
			@include span(3);
		}

	}
	
	.blog-feed{
		
		// SM Breakpoint
		@include breakpoint($screen-sm-min){
			@include span(6);
		}
	}

	.footer-utility{
		// @include myoutline(red);
		
		// SM Breakpoint
		@include breakpoint($screen-sm-min){
			@include span(12);
		}

		// MD Breakpoint
		@include breakpoint($screen-md-min){
			@include span(3);
		}
	}

	.site-info{
		// @include myoutline(yellow);
		@include span(12);

		// SM Breakpoint
		@include breakpoint($screen-sm-min){
			@include span(6);
		}
	}

	.site-longevity{
		// @include myoutline(yellow);
		@include span(12);		

		// SM Breakpoint
		@include breakpoint($screen-sm-min){
			@include span(6);
		}
	}

}
